name: Deploy Sentiment Analysis to K3S
on:
  workflow_call:
  
    inputs:
      image-tag:
        description: 'Image tag for GHCR'
        required: true
        type: string
      kube-namespace:
        description: 'Kubernetes namespace'
        required: true
        type: string
      kube-deployment:
        description: 'Kubernetes deployment name'
        required: true
        type: string
      registry:
        description: 'Container registry (e.g., ghcr.io)'
        required: true
        type: string

    secrets:


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Kubeconfig
      run: |
        echo "${{ secrets.KUBECONFIG }}" > kubeconfig
        export KUBECONFIG=$(pwd)/kubeconfig

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f Vocational_Test/03-workloads/deployment.yaml
        kubectl apply -f Vocational_Test/04-networking/service.yaml
        kubectl apply -f Vocational_Test/04-networking/ingressroute.yaml